<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="stylesheets/pygments.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/polytexnic.css" media="screen" rel="stylesheet" type="text/css" />
    <% if @local_server %>
      <script src="/jquery/1.10.2/jquery-1.10.2.js" ></script>
      <script src="/refresh.js"></script>
      <link href="assets/main.css" media="screen" rel="stylesheet" type="text/css" />
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,300|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
      <script src='//use.typekit.net/lzd3ncn.js' type='text/javascript'></script>
      <script>
        try{Typekit.load();}catch(e){}
      </script>
    <% end %>
    <title><%= @title %></title>
    <% if @mathjax %>
      <script type="text/x-mathjax-config">
        <%= @mathjax %>
      </script>
      <script type="text/javascript" src="<%= @src %>"></script>
    <% end %>
  </head>
  <body>
    <% if @local_server %>
    <div id='bookMenu' class='bookMenuFixed'>
      <div class='wrapper'>
        <div class='bookMenuArows'>
          <a href="<%= @manifest.url(@chapter.chapter_number - 1) %>" class="leftArrow">◄</a>
          <a href="#top" class="upArrow">▲</a>
          <a href="<%= @manifest.url(@chapter.chapter_number + 1) %>" class="rightArrow">►</a>
        </div>
        <div class='dropDown' id='j_chapterDropDown' onclick="$('.dropMenu').toggle()">
          <span>Chapter <%= @chapter.chapter_number %>: <%= @chapter.title %></span>
          <ul class='dropMenu' style='display:none'>
            <% @manifest.chapters.each do |ch| %>
              <li>
                <a href="<%= ch.slug %>">
                  Chapter <%= ch.chapter_number %>: <%= ch.title %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <div id="book">
      <%= @html %>
    </div>
  </body>
</html>
