%h1 Listing books

%table
  %tr
    %th Title
    %th User
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.title
      %td= book.user_id
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
